
header{
  background-color: rgb(198, 220, 235);
  display: flex;
  position: sticky;
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  height: 80px;
  top:0;
}

.container{
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.home{
  display: inline-block;
  width: auto;
  text-decoration: none;
}

.logo{
  display: flex;
  align-items:center;
 
}

.bx-lock-open-alt {
  color: rgb(26, 115, 174);
  font-size: 32px;

}

.text{
  padding-left: 1rem;
}

.list {
  height: 100%;
}

.menu{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  background-color: rgb(198, 220, 235);
  height: 100%;
}

.menu_item{
  display: flex;
  align-items: center;
  padding: 0 16px;
  cursor: pointer;
  font-size: 0.5em;
  text-decoration: none;
  color: black;
}


.menu_item:hover{
  color: rgb(26, 115, 174);
}

