

@import url(./reset.css);
@import url('./header.css');
@import url('./about.css');
@import url(./media.css);

*{
    box-sizing: border-box;
}

html{
    /* font-family: 'Poppins', sans-serif; */
}

body{
    background-color: rgb(233,246,255);   
}

.contents-width {
    max-width: 1000px;
    margin: 0 auto;
    padding-left:1rem;
    padding-right:1rem;
  }